/* タスク登録ページ */
.must{
  color: #a94442;
  font-size: 16px;
}

.error-message{
  width: 600px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #a94442;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #fff;
}

.status{
  line-height: 50%;
}

button{
  margin-top: 20px;
}

/* ユーザー情報ページ */
.control-info{
  padding-top: 7px;
}

.form-inline{
  display: inline-block;
  margin-left: 50px;
}

.clicked{
  background-color: #808080;
  color: #fff;
}